<div class="">
  <% if @products.length > 0%>
    <div id="col-559391347" class="col title-moi bctm small-12 large-12">
      <div class="col-inner">
        <h3 class="titledanh"><span>CÁC MẪU TỦ LAVABO ENIC</span></h3>
      </div>
    </div>
  <% end %>

  <div class="row large-columns-4 medium-columns-3 small-columns-2 has-shadow row-box-shadow-2">
    <% @products.each do |product| %>
      <div class="product-small col has-hover rtwpvs-product product type-product post-38552 status-publish first instock product_cat-tu-lavabo has-post-thumbnail sale shipping-taxable purchasable product-type-variable has-default-attributes">
        <div class="col-inner">
          <div class="product-small box">
            <div class="box-image">
              <div class="image-zoom">
                <%= link_to product do %>
                  <%= image_tag url_for(product.images.first), width: 600, height: 600 %>
                <% end %>
              </div>
            </div>
            <div class="box-text box-text-products">
              <div></div>
              <div class="name product-title woocommerce-loop-product__title">
                <%= link_to product.name.truncate(50), product, class: 'woocommerce-LoopProduct-link woocommerce-loop-product__link', data: {tooltip: product.name} %>
              </div>
              <div class="price-wrapper mt-3">
                <span class="price">
                  <span class="woocommerce-Price-amount amount">
                    <bdi><%= product.decorate.formatted_price %>&nbsp;₫</span>
                    </bdi>
                  </span>
                </span>
              </div>
              <div class="add-to-cart-button">
                <a href="javascript:void()" onclick="Product.addCart('<%= product.id %>')" data-quantity="1" class="primary is-small mb-0 button product_type_variable add_to_cart_button is-outline rtwpvs_add_to_cart rtwpvs_ajax_add_to_cart" data-product_id="<%= product.id %>" data-product_sku="" aria-label="Lựa chọn cho “Bộ tủ lavabo kết hợp tủ gương led cao cấp Enic BT Plus 80cm - 100cm”" rel="nofollow" data-variation_id="" data-variation="">Them Vao Gio Hang</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
