<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' if user_signed_in? %>
    <!-- Preloader -->
    <div class="preloader">
      <div class="d-table h-100 w-100">
        <div class="d-tablecell">
          <div class="d-flex justify-content-center">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
     <!-- End Preloader -->
     <div class="row category-page-row">
      <%= yield %>
    </div>
  </body>
</html>
